<br>
<br>
<br>
<center>
<body><div class="message"><br>
<h2>GoJunket with <%= @user.name %></h2>
	<%= form_for [@user, @message] do |f| %>
	
	<div class="form-group">
	<p>What do you feel like doing?</p>
		<%= f.select(:activities, options_for_select(Message.activities.to_a), :style => "width:135px") %>
	<br>
	<div class="form-group">
	<p>When do you want to do it?</p>
		<%= f.select(:times, options_for_select(Message.times.to_a), :style => "width:95px") %>
	</div><br>
	  <div class="text">
        <%= f.label :content, "Add a note (optional)"%><br>
        <%= f.text_area :content, autofocus: true, :maxlength=>500 %>
    </div>
	</div>
	<br>
 	<div><%= f.submit "Send", :class => "buttons" %></div>
  	<% end %>
	<br>
	</div>
</body>
</center>
