<!DOCTYPE html>
<html>
	<head>
		<title>GoJunket</title>
	</head>
		<center>
		<body>
			<br><br><br>
			<div class="home"><br>
			<h1>Wanna GoJunket?</h1>
			<h3>Who, what, where, and when?</h3>
			<div><em>(To select multiple options, hold down the shift key.<br>All fields must have at least one selection.)</em>
			</div>
			<br>
				<%= form_tag(results_path, :method => "get", id: "param_search") do %>
				I wanna chill with a<br>
				<%= select_tag(:gender, options_for_select(User.genders.to_a), :style => "width:55px", :style=>"height:38px", multiple: true) %>
			<br>
			<br>Aged<br><%= select @age, :min_age, (18..100).to_a, include_blank: true  %>
				to<%= select @age, :max_age, (18..100).to_a, include_blank: true %>
			
			<div><br>Located in the city of</div>
				<%= text_field_tag :location %>
			
			<div><br>In the state of <em>(Ex: NE)</em></div>
				<%= text_field_tag :state, params[:search], :maxlength => 2 %>
			
			<div><br>Who is</div>
				<%= select_tag(:relationship, options_for_select(User.relationships.to_a), :style => "width:75px", :style=>"height:55px",  multiple: true) %>
			
			<div><br>Whose sexual orientation is</div>
				<%= select_tag(:orientation, options_for_select(User.orientations.to_a), :style => "width:75px", :style=>"height:55px",  multiple: true) %>
			
			<div><br>Whose highest education level is</div>
				<%= select_tag(:education, options_for_select(User.educations.to_a), :style => "width:150px", multiple: true) %>
			
			<div><br>Who has kiddos?</div>
				<%= select_tag(:kids, options_for_select([['Yup', true], ['Nope', false]]), :style => "width:75px", :style=>"height:38px",  multiple: true) %>
			
			<div><br>Who drinks?</div>
				<%= select_tag(:drinks, options_for_select([['Yup', true], ['Nope', false]]), :style => "width:75px", :style=>"height:38px",  multiple: true) %>
			
			<div><br>Who smokes?</div>
				<%= select_tag(:smokes, options_for_select([['Yup', true], ['Nope', false]]), :style => "width:75px", :style=>"height:38px",  multiple: true) %>
			
			<div><br>What would you like this person to be interested in?</div>
				<%= select_tag(:interests, options_for_select(["Animals", "Art", "Astrology", "Astronomy", "Baseball", "Basketball", "Board Games", "Board Sports", "Boxing", "Casual Sex", "Cats", "Computer Programming", "Cooking", "Cosplay", "Cycling", "Dance", "Drama", "Drawing and Painting", "Drinking", "Dogs", "Eating", "Fashion", "Fishing", "Food", "Football", "Gambling", "Gaming", "Hooping", "Hunting", "Internet", "Jogging", "Kids Activities", "Legos", "Magic", "Martial Arts", "Movies", "Music", "Napping", "Paintball", "Photography", "Pilates", "Puzzles", "Reading", "Religion", "Rock Climbing", "Sailing", "Sarcasm", "Shooting", "Skateboarding", "Skiing", "Snowboarding", "Soccer", "Sports (General)", "Surfing", "Swimming", "Technology", "Traveling", "Video Games", "Writing", "Work", "Yoga"], "Animals"), :style => "width:175px", multiple: true) %>
			<br><br></div><br>
			<button type="submit" form="param_search" value="Submit">Find a GoJunkie</button>
				<% end %>
		</body>
		</center>
</html>