<br><br><br><center>
<body><div class="profile"><br>
<h2>Howdy, <%= current_user.name %>!</h2>

<p><%= image_tag current_user.avatar.url(:thumb), :style => "border: 1px solid Cyan"%></p>

<p>Email:  <%= current_user.email %></p>

<p>Current Location:  <%= current_user.location %>, <%= current_user.state %></p>

<p>Sex:  <%= current_user.gender %></p>

<p>Age: <%= current_user.age %> years old</p>

<p>Relationship Status: <%= current_user.relationship %></p>

<p>Orientation:  <%= current_user.orientation %></p>

<p>Education:  <%= current_user.education %></p>

<p>Kids?  <%= current_user.kids ? "Yup" : "Nope" %></p>

<p>Drinks?  <%= current_user.drinks ? "Yup" : "Nope" %></p>

<p>Smokes?  <%= current_user.smokes ? "Yup" : "Nope" %></p>

<p>Interests:<% current_user.interests.each do |int| %><br>
	<%= int.name %>
	<% end %>
</p>

<p>The 411 on me:<br><%= current_user.description %></p><br>
</div>
	<%= link_to("Edit my profile", edit_user_registration_path)%>
<br></body>
</center>