<!DOCTYPE html>
<html>
  <head>
    <title>GoJunket</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="page-header" style="clear: both">
      <h1 style="float: left"><a href="http://gojunket.herokuapp.com/"><font size="+3">GoJunket <font size="+1"><br>Meet. Go out. Now.</a></h1>
      <h1 style="float: right"> <% if user_signed_in? %>
        <%= link_to 'Home', root_path %> |
        <%= link_to 'My profile', profile_path %> |
        <%= link_to 'Inbox', user_messages_path(current_user.id) %> |
        <%= link_to 'Sign out', destroy_user_session_path, method: 'DELETE' %>
        <% else %>
        <%= link_to 'Join', new_user_registration_path %> |
        <%= link_to 'Log In', new_user_session_path %>
        <% end %></h1>
    </div>
    <div class="search_bar" align="right">
        <%= form_tag(users_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Name" %>
        <%= submit_tag "Find GoJunkie", :name => nil %>
        <% end %>
    </div>
  </div>
      <p class="notice" align="center"><%= notice %></p>
      <p class="alert" align="center"><%= alert %></p>
  <div id="top_bar" align="center"><div class="container-fluid"></div>
  </div>
  </div><%= yield %>
  </body>
  <footer><div style="clear: both"><h4 style="float: left">Copyright GoJunket 2015<br>GoJunket@gmail.com</h4><h4 style="float: right"></h4></div></footer>
</html>